.detalle{
	margin: 20px;
}

.asidedgac{
	background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
 
	border: 2px solid #9D9D9D;
	border-radius: 10px;
	padding:15px;
	color: #FFFFFF;
	font-size: 14px;
	padding-left: 5px;
	}	


.contactosbox{
	color: #FFFFFF;
	background-color: #35486A;
	padding: 20px;
	margin-bottom: -100px;
	}


.hrline{
	width: 400px;
	}


.h1nuevo{
	color:#C36500;
	padding-left: 40px;
	}

.nuevanota{
	background-color: #363637;
	color: #FFFFFF;
	padding: 20px;
	}

